:root {
  --section-gap: 8rem;
  --section-inner-gap: calc(var(--section-gap) * 0.75);
  --section-inner-gap-small: calc(var(--section-gap) * 0.5);
  --grid-gap: 3rem;
  --grid-container: minmax(30px, 1fr) [inner-start] minmax(0, 78rem) [inner-end] minmax(30px, 1fr);
  --grid-inner: repeat(12, 1fr);
  --content-width: 55rem;
  --color-primary: #222;
  --color-secondary: #fff;
  --color-mario: #E0120F;
  --color-luigi: #08A836;
  --color-peach: #EF96BE;
  --color-toad: #184199;
  --color-bowser: #F8BD0F;
  --color-yoshi: #70B920;
  --color-daisy: #EE820C;
  --color-boo: #95A3AE;
  --color-dk: #742508;
  --color-bowserjr: #F6CE07;
  --font-weight: 500;
  --font-sans: "Catamaran", sans-serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-1: var(--font-base);
  --font-size-2: calc(var(--font-size-1) * var(--font-scale));
  --font-size-3: calc(var(--font-size-2) * var(--font-scale));
  --font-size-4: calc(var(--font-size-3) * var(--font-scale));
  --font-size-5: calc(var(--font-size-4) * var(--font-scale));
  --font-size-6: calc(var(--font-size-5) * var(--font-scale));
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  color: var(--color-primary);
  font-weight: var(--font-weight);
  font-family: var(--font-sans);
}

.card {
  min-height: 104px;
  min-width: 152px;
  border-radius: 10px;
  position: relative;
}
.card--flipped, .card--complete {
  pointer-events: none;
}
.card--flipped .card__front, .card--complete .card__front {
  visibility: visible;
}
.card--flipped .card__back, .card--complete .card__back {
  visibility: hidden;
}
.card__front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  visibility: hidden;
  z-index: 10;
}
.card__back {
  background-image: url("assets/images/card_back@2x.jpg");
  background-size: 200%;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
}
.card[data-character=mario] .card__front {
  background-image: url("assets/images/mario@2x.png");
  background-color: var(--color-mario);
}
.card[data-character=luigi] .card__front {
  background-image: url("assets/images/luigi@2x.png");
  background-color: var(--color-luigi);
}
.card[data-character=peach] .card__front {
  background-image: url("assets/images/peach@2x.png");
  background-color: var(--color-peach);
}
.card[data-character=toad] .card__front {
  background-image: url("assets/images/toad@2x.png");
  background-color: var(--color-toad);
}
.card[data-character=bowser] .card__front {
  background-image: url("assets/images/bowser@2x.png");
  background-color: var(--color-bowser);
}
.card[data-character=yoshi] .card__front {
  background-image: url("assets/images/yoshi@2x.png");
  background-color: var(--color-yoshi);
}
.card[data-character=daisy] .card__front {
  background-image: url("assets/images/daisy@2x.png");
  background-color: var(--color-daisy);
}
.card[data-character=boo] .card__front {
  background-image: url("assets/images/boo@2x.png");
  background-color: var(--color-boo);
}
.card[data-character=dk] .card__front {
  background-image: url("assets/images/dk@2x.png");
  background-color: var(--color-dk);
}
.card[data-character=bowserjr] .card__front {
  background-image: url("assets/images/bowserjr@2x.png");
  background-color: var(--color-bowserjr);
}
@media screen and (max-width: 34rem) {
  .card {
    min-height: 80px;
    min-width: 80px;
  }
}

.winner-screen {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 990;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: -100%;
  transition: left 1s;
  transition-timing-function: cubic-bezier();
}
.winner-screen__img {
  max-width: 75.486vw;
}
@media screen and (max-width: 34rem) {
  .winner-screen__img {
    max-width: 100vw;
  }
}
.winner-screen__title {
  font-size: var(--font-size-6);
  margin-top: 2rem;
}
.winner-screen__text {
  font-size: var(--font-size-4);
  margin-bottom: 2rem;
}
@media screen and (max-width: 34rem) {
  .winner-screen__text {
    font-size: var(--font-size-3);
  }
}
.winner-screen__refresh {
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  color: var(--color-primary);
  font-size: var(--font-size-2);
  padding: 0;
  margin: 0;
  border: 0;
  background-color: unset;
  text-decoration: underline;
}
.winner-screen__refresh:hover {
  color: var(--color-mario);
}
.winner-screen--complete {
  left: 0;
  transition: left 1s 0.5s;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
}
.header__title {
  margin: 3rem auto 1rem;
  font-size: var(--font-size-5);
}
@media screen and (max-width: 34rem) {
  .header__title {
    font-size: var(--font-size-4);
    margin: 2rem auto 0;
  }
}

.score-panel {
  display: grid;
  grid-template-columns: 1fr;
  font-size: var(--font-size-3);
}
.score-panel__inner {
  margin: 0 auto 3rem;
  display: flex;
  gap: 2rem;
  position: relative;
}
@media screen and (max-width: 34rem) {
  .score-panel__inner {
    margin: 0 auto 2rem;
  }
}
.score-panel__refresh {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.score-panel__refresh svg {
  height: 16px;
}
@media screen and (max-width: 34rem) {
  .score-panel__refresh svg {
    height: 14px;
  }
}
@media screen and (max-width: 34rem) {
  .score-panel {
    font-size: var(--font-size-2);
  }
}

.deck {
  display: grid;
  margin-bottom: 1rem;
}
.deck__list {
  position: relative;
  max-width: 54rem;
  margin: 0 auto;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 34rem) {
  .deck__list {
    gap: 0.75rem;
  }
}

.start {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 980;
}
.start__button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 1rem 1.5rem;
  font-size: var(--font-size-3);
  color: var(--color-primary);
  border: 2px var(--color-primary) solid;
  border-radius: 10px;
  background-color: var(--color-secondary);
}
.start__button:hover {
  background-color: var(--color-mario);
  border-color: var(--color-mario);
  color: var(--color-secondary);
}
.start--started {
  display: none;
}

/*# sourceMappingURL=style.css.map */
